#image-background{
    position: fixed;
    left: 0;
    right: 0;
    background-image: url("https://wallpaperaccess.com/full/187161.jpg"); 
    filter: blur(3px);
    -webkit-filter: blur(8px); 
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.modal{
    width: 400px;
    height: 370px;
    place-items: center;
    display: grid;
    border-radius: 10px;
}
.modal-content {
    align-items: center;
    justify-content: center;
    justify-items: center;
    width:  300px;
    margin: 20px;
    background-color: rgba(194, 194, 194, 0.4);
    border-radius: 10px; 
}

.modal-information {
    width: 300px;
    display: flex;
    margin: 20px;
    background-color: rgba(194, 194, 194, 0.4);  
    align-items: center; 
    border-radius: 10px;
}

.image-container{
    margin: 10px;
}

.song-container{
    margin: 10px;
}

.panel {
    position:absolute;
    
}

#play {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-Image: url("pause.png");
    background-color:rgba(102, 102, 102, 0.0);
    border: hidden;
}

#previous {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url("prev.png");
    background-color:rgba(102, 102, 102, 0.0);
    border: hidden; 
}


#stop {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url("stop.png");
    background-color:rgba(102, 102, 102, 0.0);
    border: hidden;  
}

#next {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url("nnext.png");
    background-color:rgba(102, 102, 102, 0.0);
    border: hidden;  
}

#albumImage {
    width:90px;
    height:70px;
}

button:hover{
    cursor: pointer;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.6));
}

button:active{
    filter: none;
    transform: scale(.95);
}

#volumeText{
    font-family: 'Courier New', Courier, monospace;
}

#timeText {
    font-family: 'Courier New', Courier, monospace;
}

.panel {
    visibility: hidden;
    position:absolute;
    bottom:0px;
    left:0px;
    z-index: 10;
 }

#volumeText, #timeText {
    height: 10px;
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    background: #E1E6EC;
    box-shadow: 2px 2px 5px hsl(215, 61%, 31%) , -2px -2px 11px  #fff  ;
    border-radius: 5px;
    margin: 15px 0;
}
#volumeText, #timeText::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #A2B1C6;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 5px  #fff  ;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 90px;
}
#volumeText, #timeText::-moz-range-thumb{
    width: 25px;
    height: 25px;
}